# =============================
# Development Environment
# =============================
# PostgreSQL (development)
POSTGRES_USER=temporal
POSTGRES_PASSWORD=temporal
POSTGRES_DB=temporal
POSTGRES_PORT=5432
POSTGRES_DB_N8N=n8n
POSTGRES_USER_N8N=n8n
POSTGRES_PASSWORD_N8N=n8n_password
POSTGRES_DB_TEMPORAL=temporal
POSTGRES_USER_TEMPORAL=temporal
POSTGRES_PASSWORD_TEMPORAL=temporal

# n8n (development)
N8N_WEBHOOK_URL=http://localhost:5678/
N8N_ENCRYPTION_KEY=a_random_string_for_encryption
N8N_PORT=5678

# OpenSearch (development)
DISABLE_SECURITY_PLUGIN=true
OPENSEARCH_PORT=9200

# Temporal (development)
TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8080

# GitHub MCP Server (development)
GITHUB_PERSONAL_ACCESS_TOKEN=github_access_token

# =============================
# Production Environment
# =============================
# n8n (production)
N8N_WEBHOOK_URL=
N8N_ENCRYPTION_KEY=
N8N_HOST=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB_N8N=
POSTGRES_USER_N8N=
POSTGRES_PASSWORD_N8N=

# opensearch (production)
OPENSEARCH_PORT=9200

# temporal (production)
TEMPORAL_PORT=7233

# temporal-ui (production)
TEMPORAL_UI_PORT=8080
POSTGRES_DB_TEMPORAL=
POSTGRES_USER_TEMPORAL=
POSTGRES_PASSWORD_TEMPORAL=
